.text1{
  display:none;
}

.text2{
  display:none;
}

.text3{
  display:none;
}

.text4{
  display:none;
}

.text5{
  display:none;
}

.text6{
  display:none;
}

.text7{
  display:none;
}

.text8{
  display:none;
}

.text9{
  display:none;
}

.text10{
  display:none;
}

.text11{
  display:none;
}

.text12{
  display:none;
}

.text13{
  display:none;
}

.text14{
  display:none;
}

.text15{
  display:none;
}

.text16{
  display:none;
}

.text17{
  display:none;
}

.text18{
  display:none;
}

.text19{
  display:none;
}
